<div class="wrapper">

  <div id="content" class="container-fluid">
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="card text-center">
          <div class="card-header">
            <div class="col-sm-12 form-inline">

              <div class="col-sm-1 d-none d-sm-block">
                <img src="https://www.idvroom.com/image/55075_178_120.png" alt="..." class="img-fluid">
              </div>
              <div class="col-12 col-sm-10">
                <select class="custom-select" size="3" style="width:100%;">
                  <option selected=selected> Sujet du jour :  </option>
                     <option (click)="addTopicToFirebase(topic)"  *ngFor="let topic of topics | async ; let i = index; " value="{{i}}" >  {{topic.value}} </option>
                  </select>
              </div>
              <div class="col-sm-1 d-none d-sm-block ">
                <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark "><i class="fas fa-plus-square fa-2x "></i></button>
              </div>

            </div>
          </div>
          <div class="card-body">

            <div class="col-sm-9 d-block mx-auto">
              <div class="card">
                <div class="card-header">
                  Liste des participants de ce {{today}}
                </div>
                <ul class="list-group list-group-flush">

                  <!-- <li class="list-group-item" *ngFor="let present of presents | async ; let i = index; "> -->
                  <li class="list-group-item " *ngFor="let present of presents | async ; let i = index; ">

                    <form (submit)="RegisterUser($event)">

                      <div class="form-inline">
                        <div class="row">
                          <div class="col-sm-1">
                            <h4><span class="badge badge-dark"> {{i+1}} </span> </h4>
                            <input type="hidden" value="{{i}}" class="form-control col-sm-12" placeholder="Hello">

                          </div>
                          <div class="col-sm-4 ">
                            <div class="form-group">
                              <label class="space col-sm-12"> Prénom </label>
                              <!-- <input type="text" [(ngModel)]="N0" value="{{present.prenom}}"  class="form-control col-sm-12" placeholder="Hello "> -->
                              <input type="text" value="{{present.prenom}}" class="form-control col-sm-12" placeholder="-">
                            </div>
                          </div>
                          <div class="col-sm-4 ">
                            <div class="form-group space">
                              <label class="space col-sm-12"> Nom </label>
                              <input type="text" [value]="present.nom" class=" form-control col-sm-12 " placeholder="-">
                            </div>
                          </div>

                          <div class="col-sm-3 form-group ">
                            <button type="submit " *ngIf="present.nom!='-' && present.prenom!='-'" (click)="addPersonToFirebase( '0', '-', '-' ) " class="btn btn-danger space "><i class="fas fa-window-close fa-lg "></i></button>
                            <button type="submit " *ngIf="present.nom=='-' || present.prenom=='-'" class="btn btn-success space "><i class="fas fa-calendar-check fa-lg "></i></button>
                          </div>

                          <div *ngIf="present.nom!='-' && present.prenom!='-' " class="col-sm-12 ">
                            Une invitation sera envoyer à :
                            < {{present.prenom}}.{{present.nom}}@capgemini.com>
                          </div>
                        </div>
                      </div>
                    </form>

                  </li>

                </ul>
              </div>
            </div>




          </div>
          <div class="card-footer text-muted text-center ">

            <a href="# " class="space ">  <i class="fab fa-facebook fa-2x "></i> </a>
            <a href="# " class="space ">  <i class="fab fa-twitter-square fa-2x "></i></a>
            <a href="# " class="space ">  <i class="fab fa-instagram fa-2x "></i></a>
            <a href="# " class="space ">  <i class="fab fa-google-plus-square fa-2x "></i></a>

          </div>
        </div>

      </div>

    </div>


    <!-- Modal -->
    <div class="modal fade " id="exampleModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel " aria-hidden="true ">
      <div class="modal-dialog " role="document ">
        <div class="modal-content ">
          <div class="modal-header ">
            <h5 class="modal-title " id="exampleModalLabel ">Nouveau theme</h5>
            <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
              <span aria-hidden="true ">&times;</span>
                            </button>
          </div>

          <div class="modal-body ">
            <input type="text " [(ngModel)]="topicInput " id="topicInput " class="form-control " placeholder="Topic ">
          </div>
          <div class="modal-footer ">
            <button type="submit " class="btn btn-primary " onclick="closeModal() " (click)="updateTopic() ">Ajouter ce theme</button>
          </div>

        </div>
      </div>
    </div>



    <footer>
      Copyright (c) {{year}} {{owner}} All Rights Reserved. {{version}}
    </footer>
  </div>
</div>